@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Global */
:root {
  /* Color */
  --color-orange: #ff9e1b;

  /* Font size */
  --font-large: 70px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.contents {
  width: 100%;
  height: 100%;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: 700;
  color: white;
  margin: 0 0;
  font-family: 'Montserrat';
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: white;
  margin: 8px 0;
  font-family: 'Noto Sans';
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: white;
  margin: 20px 0;
}

.semi-bord-font {
  font-weight: var(--weight-semi-bold);
}

/* �섑룊�� */
hr {
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 60px;
}

.emphasis {
  color: var(--color-orange);
}

.content {
  text-align: center;
  font-size:30px;
}

.schedule {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size:30px;
}
footer {
  text-align: left;
  color: gray;
}
.nav-item {
  font-size: 30px;
}
/* HACK YOUR LIFE! */
.big-title {
  display: table;
  margin: auto;
}

.like-lion-logo {
  margin-top: 10px;
  margin-right: 10px;
}

.text {
  display: table-cell;
  text-align: left;

}

.sub-title {
  margin-top: 0;
  margin-bottom: 30px;
}

/* content */
.textbox {
  color: white;
  background-color: var(--color-orange);
  border-radius: 15px;
  padding: 5px;
  width: 180px;
  margin: 40px auto;
  text-align: center;
}

/* 紐⑥쭛 �쇱젙 */
.schedule {
  display: table;
  margin: 0 auto;
  width: 400px;
}

.schedule-date {
  display: table-cell;
  color: white;
  padding: 0 0;
}

ul {
  display: table;
}

span {
  margin: 0;
  padding: 0;
  color: white;
  text-align: left;
}

span.list-bullet {
  font-size: 5px;
}
.navbar-toggler {
  width: 100px;
  height: 100px;
}
.navbar-toggler-icon {
  width: 80px;
  height: 80px;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px){

  h1 {
    font-size: 35px;
    font-weight: 700;
    color: white;
    margin: 0 auto;
    font-family: 'Montserrat';
  }

  .nav-item {
    font-size: 20px;
  }

  hr {
    margin-bottom: 0px;
  }
  .big-title {
    display: block;
    margin: auto;
  }

  .like-lion-logo {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .text {
    text-align: center;
    font-family: 'Montserrat';
  }

  h1 {
    margin-bottom: 20px;
  }

  h3.content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .textbox {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size:20px;
  }


  .contents {
    margin-bottom: 70px;
  }


  .content {
    text-align: center;
    font-size:15px;
  }
  
  .schedule {
    width: 300px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size:15px;
  }
}